<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.sjtu.se.dclab.server.mapper.ItemMapper">

	<select id="getItemById" parameterType="java.lang.Integer" resultMap="itemResultMap">
		select * from item where id=#{id};
	</select>

	<insert id="createItem" parameterType="Item">
		insert into item (id,name) values (#{id}, #{name});
		<selectKey resultType="int">
			SELECT LAST_INSERT_ID();
		</selectKey>
	</insert>
	<update id="updateItem" parameterType="Item">
		update item set name = #{name} where id = #{id};
	</update>
	<delete id="deleteItemById" parameterType="java.lang.Integer">
		delete from item where id = #{id};
	</delete>
	
	<resultMap type="Item" id="itemResultMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
	</resultMap>
	
</mapper>